Source: lzfs
Section: kernel
Priority: extra
Maintainer: kqinfo <zfs@kqinfotech.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://kqstor.com

Package: lzfs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, spl, zfs, python-dmidecode, python-soappy, python-libxml2
Description: The package contains POSIX porting layer to zfs file system.

